//======================================
//--------------------------------------
//--------------TEXT-------------------
//(sub-heading at the top of the app UI)
$color-Purple-300 : hsl(276, 100%, 81%);
//(chat on the left)
$color-Purple-600 : hsl(276, 55%, 52%);
//(chat on the right, paragraph)
$color-Gray-500 : hsl(270, 7%, 64%);
//(placeholder text)
$color-Gray-300 : hsl(206, 6%, 79%);
//(main heading)
$color-Purple-950 : hsl(271, 36%, 24%);

//======================================
//--------------------------------------
//--------------Gradients---------------
//(Pink 500): hsl(293, 100%, 63%);
$color-Pink-500 : hsl(293, 100%, 63%);
//(Purple 500): hsl(264, 100%, 61%);
$color-Purple-500 : hsl(264, 100%, 61%);

//======================================
//--------------------------------------
//--------------Secondary---------------
// White: hsl(0, 100%, 100%)
$color-White : hsl(0, 100%, 100%);
// Gray 100 (app background): hsl(270, 20%, 96%)
$color-Gray-100 : hsl(270, 20%, 96%);
// Purple 950 (submit button background): hsl(271, 36%, 24%)
$color-Purple-950 : hsl(271, 36%, 24%);
// Pink 400 (radio button outline): hsl(289, 100%, 72%)
$color-Pink-400 : hsl(289, 100%, 72%);