$breakpoints-up: (
    mobile:375px,
    tablet:768px,
    sm-desktop:1024px,
    desktop:1440px
);

@mixin breakpoints($size){
    @media (min-width: map-get($breakpoints-up,$size)) {
        @content;
    }
}